{% if not articles_page or first_article_of_day %}
    <h4 class="date">{{ article.date.strftime("%b %d, %Y") }}</h4>
{% endif %}
<article class="post">
    {% if article.title %}
        <h1 class="title">
            <a class="github-source-link"
               href="https://github.com/vEnhance/blog.evanchen.cc/blob/main/content/{{ article.category.name | replace(' ', '%20') }}/{{ article.date.strftime("%Y-%m-%d") }}-{{ article.slug }}.md?plain=1"
               title="View source on GitHub"
               target="_blank">
                <img src="{{ SITEURL }}/theme/pencil.svg"
                     width="32"
                     height="32"
                     alt="Edit" />
            </a>
            <a href="{{ SITEURL }}/{{ article.url }}"
               rel="bookmark"
               title="Permanent Link to &quot;{{ article.title }}&quot;">{{ article.title }}</a>
        </h1>
    {% endif %}
    {% if not articles_page %}
        {% include "translations.html" %}
    {% endif %}
    {% if articles_page and article.summary != article.content %}
        <div class="summarized">{{ article.summary }}</div>
        <div>
            <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">Read more...</a>
        </div>
    {% elif articles_page %}
        <div class="summarized">{{ article.content }}</div>
    {% else %}
        <div class="full">{{ article.content }}</div>
    {% endif %}
    <div class="clear"></div>
    <div class="info">
        <a href="{{ SITEURL }}/{{ article.url }}">posted at {{ article.date.strftime("%H:%M") }}</a>
        {% if article.tags %}
            ·
            {% for t in article.tags %}
                &nbsp;<a href="{{ SITEURL }}/{{ t.url }}"
   class="tags{% if tag and tag.name == t.name %} selected{% endif %}">{{ t }}</a>
            {% endfor %}
        {% endif %}
        {% if article.category.name != "misc" %}
            ·
            <a href="{{ SITEURL }}/{{ article.category.url }}"
               class="category{% if category and category.name == article.category.name %} selected{% endif %}"
               rel="tag">{{ article.category }}</a>
        {% endif %}
    </div>
    {% if not articles_page %}
        {% include "isso.html" %}
    {% endif %}
</article>
